:root {
  --bleu: #5A86BF;
  --bleuciel: #7E9ABF;
  --taupe: #A67153;
  --marron: #A67C49;
  --clair: #C1C9D9;
  --blanc: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: var(--clair);
}

.wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.container {
  min-height: calc(100vh - 120px);
}
#masthead {
  padding: 1rem 0;
  background-color: var(--bleu);
  height: 60px;
  nav ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    li a {
      color: var(--blanc);
    }
  }
}

.flash{
  text-align: center;
  .success{
    color: green;
  }
}

#contact{
  margin: 0 1rem;
  .wrap_contact{
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    h1{
      margin: 2rem 0;
    }
    input,textarea{
      width: 60%;
      border-radius: 7px;
      padding: 0.5rem;
      margin: 0.5rem 0;
      border: 2.5px solid var(--bleuciel);
    }
    #submitted{
      border: none;
      font-weight: bold;
      color: white;
      font-size: 1rem;
      background-color: var(--bleuciel);
      transition: all 0.2s;
      &:hover{
        background-color: var(--bleu);
      }
    }
    label{
      font-weight: bold;
    }
    textarea{
      resize: vertical;
      height: 200px;
    }
    .error{
      color: red;
      display: block;
      margin-bottom: 1rem;
    }
  }
}

#listing{
  .wrap{
    text-align: center;
    h1{
      margin: 2rem 0;
    }
  }
  table{
    margin: 0 auto;
    th{
      background-color: #e0e0e0;
    }
    td,th{
      padding: 0.5rem 2rem;
    }
    tr{
      background-color: white;
      &:nth-child(even){
        background-color: #e0e0e0;
      }
    }
    td:last-child{
      width: 100%;
    }
  }
}

#colophon {
  background-color: var(--bleu);
  color: var(--blanc);
  padding: 1rem 0;
  text-align: center;
  height: 60px;
}